# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la

# Executables
*.exe
*.out
*.app
.vs/01_WinMain/v16/.suo
*.db
*.db-wal
*.db-shm
*.opendb
*.ipch
*.log
*.res
*.lastbuildstate
*.tlog
*.idb
*.pdb
*.ilk
